<script lang="ts">
import Vue from "vue";
import * as THREE from "three";
import { Component } from "vue-property-decorator";
import { ImageFactory } from "./image-factory";

@Component
export default class ImageVisualizerComponent extends Vue {
  private uri = "/assets/2294472375_24a3b8ef46_o.jpg";
  private camera!: THREE.PerspectiveCamera;
  private scene!: THREE.Scene;
  private renderer!: THREE.WebGLRenderer;
  private isUserInteracting = false;
  private onPointerDownMouseX = 0;
  private onPointerDownMouseY = 0;
  private onPointerDownLon = 0;
  private onPointerDownLat = 0;
  private lon = 0;
  private lat = 0;
  private phi = 0;
  private theta = 0;

  mounted(): void {
    this.init();
    this.animate();
  }

  init(): void {
    const container = document.getElementById("container");
    if (!container) return;

    this.camera = new THREE.PerspectiveCamera(
      75,
      window.innerWidth / window.innerHeight,
      1,
      1100
    );
    this.scene = new THREE.Scene();
    const geometry = new THREE.SphereBufferGeometry(500, 60, 40).scale(
      -1,
      1,
      1
    );

    const texture = new THREE.TextureLoader().load(
      this.uri,
      (load) => {
        console.log(load);
      },
      (prg) => {
        console.log(prg);
      },
      (err) => {
        console.error(err);
      }
    );
    console.log(texture);
    const material = new THREE.MeshBasicMaterial({ map: texture });

    const mesh = new THREE.Mesh(geometry, material);

    this.scene.add(mesh);
    this.renderer = new THREE.WebGLRenderer();
    this.renderer.setPixelRatio(window.devicePixelRatio);
    this.renderer.setSize(window.innerWidth, window.innerHeight);
    container.appendChild(this.renderer.domElement);

    container.style.touchAction = "none";
  }

  onWindowResize(): void {
    this.camera.aspect = window.innerWidth / window.innerHeight;
    this.camera.updateProjectionMatrix();
    this.renderer.setSize(window.innerWidth, window.innerHeight);
  }

  onPointerDown(event: any): void {
    if (event.isPrimary === false) return;
    this.isUserInteracting = true;
    this.onPointerDownMouseX = event.clientX;
    this.onPointerDownMouseY = event.clientY;
    this.onPointerDownLon = this.lon;
    this.onPointerDownLat = this.lat;
    document.addEventListener("pointermove", this.onPointerMove, false);
    document.addEventListener("pointerup", this.onPointerUp, false);
  }

  onPointerMove(event: any): void {
    if (event.isPrimary === false) return;
    this.lon =
      (this.onPointerDownMouseX - event.clientX) * 0.1 + this.onPointerDownLon;
    this.lat =
      (event.clientY - this.onPointerDownMouseY) * 0.1 + this.onPointerDownLat;
  }

  onPointerUp(): void {
    // if (event.isPrimary === false) return;
    this.isUserInteracting = false;
    document.removeEventListener("pointermove", this.onPointerMove);
    document.removeEventListener("pointerup", this.onPointerUp);
  }

  onDocumentMouseWheel(event: any): void {
    const fov = this.camera.fov + event.deltaY * 0.05;
    this.camera.fov = THREE.MathUtils.clamp(fov, 10, 75);
    this.camera.updateProjectionMatrix();
  }

  animate(): void {
    requestAnimationFrame(this.animate);
    this.update();
  }

  update(): void {
    if (this.isUserInteracting === false) {
      this.lon += 0.1;
    }

    this.lat = Math.max(-85, Math.min(85, this.lat));
    this.phi = THREE.MathUtils.degToRad(90 - this.lat);
    this.theta = THREE.MathUtils.degToRad(this.lon);

    const x = 500 * Math.sin(this.phi) * Math.cos(this.theta);
    const y = 500 * Math.cos(this.phi);
    const z = 500 * Math.sin(this.phi) * Math.sin(this.theta);

    this.camera.lookAt(x, y, z);

    this.renderer.render(this.scene, this.camera);
  }
}
</script>
<template>
  <div id="container"></div>
</template>